name: Automasi Preprocessing Data

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    # 1. Ambil kode dari repo
    - uses: actions/checkout@v3

    # 2. Setup Python
    - name: Set up Python 3.9
      uses: actions/setup-python@v3
      with:
        python-version: "3.9"

    # 3. Install dependencies
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    # 4. Jalankan Script Otomatisasi
    # Perhatikan path-nya: script ada di folder preprocessing
    - name: Run Preprocessing Script
      run: |
        cd preprocessing
        python Automate_faiz_muhamad_al_ghifari_rc9k.py

    # 5. (Opsional) Cek apakah file output berhasil dibuat
    - name: Verify Output Files
      run: |
        ls -R data_processed